body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    color: black;
}

/* HEADER */

.barre-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background-color: white;
    padding: 10px 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.nav-gauche {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.nav-droite {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute; 
    right: 5%; 
    top: 5px; 
    border-radius: 50%;
}

.nav-centre {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 15px; 
    width: 100%; 
    margin-top: 20px;
    order: 3;
}


.nav-centre button{
    background-color: orange;      
    color: white;                
    border: 2px solid orange;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
}
.nav-centre button:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    background: #ff7a28;
                  
}

.logo-navigation-placeholder {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
}

.site-nom {
    font-weight: bold;
    color: black;
}

.profil-avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: #d1d1d1;
    border-radius: 50%;
    background: url('placeholder_avatar.jpg') center / cover no-repeat; 
    cursor: pointer;
    border: 1px solid #999; 
    transition: all 0.3s ease;
    overflow: hidden;
}

.profil-avatar-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*FOOTER*/
.pied-de-page {
    background-color: #333333; 
    padding: 30px 0;
    width: 100%;
}

.conteneur-footer {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    gap: 20px;        
}


.logo2 {
    display: flex;        
    gap: 25px;             
    align-items: center;
}


.placeholder-reseau {
    width: 40px;           
    height: 40px;
    border-radius: 50%;    
    overflow: hidden;       
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-reseau {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texte-contact {
    color: white;
    padding: 10px 40px;     
    font-weight: bold;
    text-decoration: none; 
    font-size: 16px;
    display: inline-block;
    transition: 0.3s;
}

.texte-contact:hover {
    cursor: pointer;
    color: orange;
    transform: scale(1.1);
}

@media (min-width: 800px){
    .barre-navigation {
        flex-wrap: nowrap; 
        justify-content: space-between; 
        height: 70px; 
    }
    .logo-navigation-placeholder{
        width: 50px;
        height: 50px;
    }
    .logo-navigation-placeholder:hover{
        transform: scale(1.1);
    }
    .nav-gauche {
        width: auto; 
        margin-bottom: 0; 
        justify-content: flex-start; 
        flex: 1; 
    }
    .nav-centre {
        margin-bottom: 20px;
        gap: 150px;
        order: 0;
        flex: 1; 
    }
    .nav-centre button{
        width: 150px;
        padding: 10px 0;
    }
    .nav-droite {
        position: static;
        width: auto;
        flex: 1; 
        justify-content: flex-end; 
    }
    .profil-avatar-placeholder{
        width: 50px;
        height: 50px;
    }
    .profil-avatar-placeholder:hover{
        transform: scale(1.1);
        border-color: orange;
    }
    .profil-avatar-placeholder img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /*footer*/
    .conteneur-footer {
        flex-direction: row;
        gap: 150px;
    }

    .presentation {
        font-size: 1.2em;       
        padding: 40px 50px;     
        line-height: 1.8;      
        max-width: 1000px;      
        margin-left: auto;      
        margin-right: auto;
    }

    .section-sites {
        display: flex;          
        flex-direction: column; 
        align-items: center;   
    }

    .lien-sites-upjv {
        display: block;
        width: 80%; 
        max-width: 900px;
        margin: 0 auto 40px; 
        height: 250px !important; 
        aspect-ratio: 3 / 1; 
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .lien-sites-upjv:hover{
        transform: scale(1.1);
        box-shadow: 0 5px 15px rgba(0,0,0,0.2) ;
    }
    .image-site-upjv {
        width: 100%;
        height: 100%;         
        object-fit: cover;    
        object-position: center; 

    }
    
    .contenu-principal {
        gap: 60px;             
    }
}






/* CONTENU PRINCIPAL */
.contenu-principal {
    max-width: 1200px;
    margin: 20px auto; 
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    box-sizing: border-box;
}
.presentation {
    margin-top: 30px;   
    margin-bottom: 30px;
    width: 100%;
    height: auto;          
    box-sizing: border-box; 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
    border-radius: 10px;   
    padding: 20px;        
    text-align: left; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre-section {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

/*sites upjv*/

.lien-sites-upjv {
    margin: 0 auto;
    display: block;
    height: var(--hauteur-bloc-presentation); 
    border-radius: 5px;
    overflow: hidden; 
    text-decoration: none;
    margin-bottom: 50px;
}

.image-site-upjv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
    display: block;
}

/*prochain trajet*/

.section-prochain-trajet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* La carte globale */
.carte-trajet-reserve {
    background-color: white; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 20px;
    margin-bottom: 40px;
}


.corps-carte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.bloc-conducteur {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 5px;          
    min-width: 60px;        
}

.profil-mini-placeholder {
    width: 40px;            
    height: 40px;           
    background-color: #aaa;
    border-radius: 50%;
}
.profil-mini-placeholder:hover{
    transform: scale(1.1);
}

.detail-nom {
    margin: 0;
    font-size: 0.85em;     
    font-weight: bold;
    text-align: center;
}


.bloc-trajet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;              
    flex-grow: 1;          
}


.colonne-info {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 5px;
}

.ville-depart, .ville-arrivee {
    font-weight: bold;
    font-size: 1.1em;
}

.detail-horaire {
    color: #555;
    font-weight: bold;
    font-size: 0.95em;
}


.colonne-fleches {
    display: flex;
    flex-direction: column; 
    gap: 5px;         
    font-weight: bold;
}

a{
    text-decoration: none;
}
.icone-message-placeholder {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
.icone-message-placeholder:hover{
    transform: scale(1.1);
}

.detail-infos-bas {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    border-top: 1px solid #eee; 
    padding-top: 10px;
}

.infos-pratiques {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-size: 0.9em;
    color: #666;
}

.info-prix {
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}

.bouton-annuler {
    padding: 10px;
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
.bouton-annuler:hover{
    transform: scale(1.01);
}
/* Communication */
.section-communication {
    text-align: center;
}

.bouton-messagerie {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 35px;
    margin-bottom: 70px;
}

.bouton-messagerie:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    background: #ff7a28;
}