:root {
    --couleur-primaire: #ff8c00;
    --couleur-secondaire: #ffffff;
    --couleur-texte-sombre: #333;
    --couleur-fond-page: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--couleur-fond-page);
    color: var(--couleur-texte-sombre);
}

.barre-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--couleur-secondaire);
    padding: 10px 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.nav-gauche, .nav-droite {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-centre {
    display: flex;
    align-items: center;
    gap: 250px; 
    flex-grow: 1; 
    justify-content: center;
}

.logo-navigation-placeholder {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 50%;
}

.utilisateur-nom {
    font-weight: bold;
}


.bouton-nav {
    padding: 8px 15px;
    border: 2px solid var(--couleur-primaire);
    border-radius: 20px;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-primaire);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1em;
    font-weight: bold;
    width: 130px; 
    box-sizing: border-box;
}

.bouton-nav:hover{
    background-color: var(--couleur-primaire);
    color: var(--couleur-secondaire);
}

.profil-avatar-placeholder {
    width: 40px;
    height: 40px;
    background-color: #d1d1d1;
    border-radius: 50%;
    background: url('placeholder_avatar.jpg') center / cover no-repeat; 
    cursor: pointer;
    border: 1px solid #999; 
}
/* ---------------------------------- */
/* CONTENU PRINCIPAL */
/* ---------------------------------- */

.contenu-principal {
    max-width: 800px; /* Limiter la largeur pour la lisibilité */
    margin: 20px auto;
    padding: 0 20px;
}

.titre-page {
    margin-top: 70px;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: var(--couleur-primaire);
}

.liste-sites {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carte-site {
    background-color: var(--couleur-secondaire);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid var(--couleur-primaire);
}

.nom-site {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 5px 0;
    text-transform: capitalize;
}

.adresse-site {
    margin: 0;
    color: #666;
    font-size: 0.95em;
}

/* ---------------------------------- */
/* RESPONSIVITÉ */
/* ---------------------------------- */

@media (max-width: 600px) {
    .titre-page {
        margin-bottom: 20px;
    }
    .carte-site {
        padding: 15px;
    }
    .nom-site {
        font-size: 1.2em;
    }
}